{% extends 'base.html.twig' %}

{% block title %}New Food{% endblock %}

{% block body %}
    <h1>Ajouter un aliment</h1>

    {{ include('food/_form.html.twig') }}

    <a href="{{ path('food_index') }}">Retour à la liste</a>
{% endblock %}
