{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}

    <div class="container text-center">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Catégories d'aliments</h3>
            </div>
            {% for category in categories %}

                <div class="col-4 col-lg-3 p-1 categoryCol">
                    <a href="{{ path('category_public', {'id' : category.id}) }}">
                        <div class="btn categoryButton d-flex justify-content-center align-items-center textPurpleBasic">
                            {{ category.name }}
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
        <img src="{{ asset('build/images/undraw_diet.png') }}" style="max-width:50%" class="mt-3"/>
    </div>

{% endblock %}
