{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}

    <h3>Catégories d'aliments</h3>
    <div class="container">
        <div class="row">
            {% for category in categories %}
                <div class="col-4 col-lg-3 p-1 categoryCol">
                    <div class="btn btn-bobo categoryButton d-flex justify-content-center align-items-center">
                        <a  href="{{ path('category_public', {'id' : category.id}) }}">
                            {{ category.name }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
