{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}

    <div class="row justify-content-center mb-3">
        <div class="col-12 text-center">
            <h2>{{ category.name }}</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-5">
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between">
                    <h4>Aliments autorisés</h4>
                    <h3><i class="fas fa-check-circle textPinkMediumLight"></i></h3>
                </div>
                <div class="card-body">
                    <ul>
                    {% for food in foods %}
                        {% if not food.isHighFodmap %}
                            <li>{{ food.name }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5">
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between">
                    <h4>Aliments à éviter</h4>
                    <h3><i class="fas fa-times-circle textPurpleDark"></i></h3>
                </div>
                <div class="card-body">
                    <ul>
                    {% for food in foods %}
                        {% if food.isHighFodmap %}
                            <li>{{ food.name }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
