<form method="post" action="{{ path('symptom_delete', {'id': symptom.id}) }}" onsubmit="return confirm('Etes-vous sûr.e de vouloir supprimer ce symptôme ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ symptom.id) }}">
    <button class="btn">Supprimer</button>
</form>
