{% extends 'base.html.twig' %}

{% block title %}New Symptom{% endblock %}

{% block body %}
    <h1>Ajouter un symptôme</h1>

    {{ include('symptom/_form.html.twig') }}

    <a href="{{ path('symptom_index') }}">Retour à la liste</a>
{% endblock %}
