#add_symptoms_symptoms {
  label {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    opacity: 0.5;
    background-color: $pinkMediumLight;
  }

  input {
    display: none;
  }

  input:checked + label {
      opacity: 1;
  }

  .form-check {
    padding: 0;
  }
}

#add_symptoms_time {
  display: flex;
  justify-content: space-between;
  .form-control {
    width: 45%;
  }
}
