@import "~bootstrap/scss/bootstrap";
@import "_vars";
@import "fonts";
@import "login_register";
@import "add_symptoms";
@import "profile";
@import "admin";
@import "charts";
@import "diet";
@import "category_public_index";

body {
    background-color: $purpleMediumLight;
    font-family: $mainFont;
}

p {
    margin-block-end: 0.7em;
}
