.fodmap{
  .emptyUseful{
    padding: 30px;
  }
  min-height: 100vh;
  background-image: url('../images/login2.jpg');
  .container {
    width: 85%;
    box-shadow: 3px 3px 10px $purpleDark;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
  }
}

