<div class="card mb-2">
    <div class="card-header bgPurpleMediumLight">
        <h5>Vous devez renseigner une date de début de régime !</h5>
    </div>
    <div class="card-body">
        <img src="{{ asset('build/images/undraw_graph.png') }}" style="max-width:100%"/>
    </div>
</div>