<div class="card mb-2">
    <div class="card-header bgPurpleMediumLight text-center">
        <h5>Vous devez renseigner une date de début de régime !</h5>
        <button type="button" class="btn btn-bobo mt-2" data-toggle="modal" data-target="#dietDateModal">
            J'y vais !
        </button>
    </div>
    <div class="card-body">
        <img src="{{ asset('build/images/undraw_just_saying.png') }}" style="max-width:100%"/>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="dietDateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Renseignez la date de début de votre régime</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ render ( controller (
                    'App\\Controller\\UserController::setStartDate',
                    { 'user': app.user.id }
                )) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>