{% extends 'base.html.twig' %}

{% block body %}
<div class="card text-center">
    <div class="card-header">
        Cette page n'existe pas !
    </div>
    <div class="card-body">
        <img src="{{ asset('build/images/undraw_404.png') }}" style="max-width:100%"/>
    </div>
</div>
{% endblock %}