{% extends 'base.html.twig' %}

{% block title %}Modifier profil{% endblock %}

{% block body %}
    <h3>Modifier mon profil</h3>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div>
        <a href="{{ path('profile', {'user' : app.user.id}) }}">Retour au profil</a>
    </div>

{% endblock %}
